<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/public/stylesheet/css/productccss.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

  <%- include('../partials/admin-header')%>
    <div id="la">

      <div id="layoutSidenav_content" class="container-fluid">

        <div class="container-fluid px-4">
          <h1 class="mt-4">Banner</h1>
          <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Add Banner
          </button>
        </div>
        <!-- add product -->

        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/adminbanner" method="post"  enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="file-upload" class="form-label">Images to upload</label>
                    <input class="form-control" type="file"  name="image" accept="image/*" multiple >
                    
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <% if(bannerimg!=null) { %>

          <div class="card-body">
              <table id="datatablesSimple">
                <thead>
                  <tr>
                    <!-- <th>No.</th> -->
                    <th>Banner Image</th>

                    <th>Status</th>


                  </tr>
                </thead>
                <tbody>
                  <% bannerimg.forEach((image)=>{ %>
                    <tr>

                      <td>
                      
                        <img src="/public/databaseimg/<%=image.image%>" alt="" width="25%">
                      </td>
                     
                      <td>
                        <% if(image.status==true) {%>
                          <a class="btn btn-warning btn-sm" href="/imageblock?id=<%= image._id%>"
                            role="button">Block</a>
                          <%}else{%>
                            <a class="btn btn-success btn-sm" href="/imageblock?id=<%= image._id%>"
                              role="button">Unblock</a>
                            <%}%>
                      </td>

                    </tr>
                    <%})%>
                </tbody>
              </table>
              <%}%>

          </div>
        </div>

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/javascript/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/public/assets/demo/chart-area-demo.js"></script>
    <script src="/public/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/javascript/js/datatables-simple-demo.js"></script>
</body>

</html>