<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% product.forEach((productData)=>{ %>
        <tr>
    <input type="text" placeholder="Full name" name="name" value="<%= productData.name %>" required="required" />
    <%})%>
</body>
</html>










// if (checkcouponused  == null) {


    // if(cartdata.status == true){
      if (cartdata.totalPrice > checkcoupon.minpurchaseamount) {
   
        // if (cartdata.totalPrice > 50000) {
        //   console.log('iam morethan 50000');
        //    let less= parseInt(cartdata.totalPrice) - parseInt(checkcoupon.maxdiscount)
        //    console.log(less);
        //    await couponmodel.updateOne({ name: req.body.inputValue },
        //     {
        //       $push: { userdata: { userId:userdata._id,discountedtotal:less} }
        //     }
        //   )
        // }
        // else {
        //   console.log('iam lessthan'  );
        // }
      }
      
      else {
        console.log('lesser than min amound' + cartdata.totalPrice * checkcoupon.discount/ 100);
       let discoun=parseInt(cartdata.totalPrice) * parseInt(checkcoupon.discount)/ 100
      let  discount=parseInt(cartdata.totalPrice)-parseInt(discoun)
        console.log(discount);
        await User.updateOne({ _id:userdata._id },
          {
            $push: { coupondata: { coupons:req.body.inputValue} }
          }
        )
       console.log(userdata._id);
       
        await cartmodel.updateOne({ userId:userdata._id},{ $set: {discoundamount:discount}})
      }

    // }
    // else{
    //   console.log('couponblocked');
    // }

  // }



  // else {
  //   console.log('coupon is used');
  // }





































































  
  if (checkcoupon != null ) {
    console.log('iam in');
  //  console.log(dateAsInt );
  // console.log(exp);
  //  console.log(expi);
  console.log(date + "amal");
  console.log(checkcoupon.expiredate + 'datessss');

    if (today > expi) {
      console.log("date is not expire");
// if (checkcouponused  == null) {


    // if(cartdata.status == true){
      console.log(total);
      console.log(minamound);
      if (total > minamound) {
        console.log('total is more');
        
   
        // if (cartdata.totalPrice > 50000) {
        //   console.log('iam morethan 50000');
        //    let less= parseInt(cartdata.totalPrice) - parseInt(checkcoupon.maxdiscount)
        //    console.log(less);
        //    await couponmodel.updateOne({ name: req.body.inputValue },
        //     {
        //       $push: { userdata: { userId:userdata._id,discountedtotal:less} }
        //     }
        //   )
        // }
        // else {
        //   console.log('iam lessthan'  );
        // }
      }
      
      else {
        console.log('lesser than min amound' + cartdata.totalPrice * checkcoupon.discount/ 100);
       let discoun=parseInt(cartdata.totalPrice) * parseInt(checkcoupon.discount)/ 100
      let  discount=parseInt(cartdata.totalPrice)-parseInt(discoun)
        console.log(discount);
        await User.updateOne({ _id:userdata._id },
          {
            $push: { coupondata: { coupons:req.body.inputValue} }
          }
        )
       console.log(userdata._id);
       
        await cartmodel.updateOne({ userId:userdata._id},{ $set: {discoundamount:discount}})
      }

    // }
    // else{
    //   console.log('couponblocked');
    // }

  // }



  // else {
  //   console.log('coupon is used');
  // }




    }
    else {
      console.log('created date is not reach');
      // console.log(todate);
      console.log(expdate);
    }
  }
  else {
    console.log('ther is no coupon');
  }