<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
  </head>
  <!-- main css -->
  <link rel="stylesheet" href="/public/stylesheet/userheader.css" />
  <!-- main css end -->
  <!-- bootstrap link -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous"
  />
  <!-- bootstrap link end -->
  <!-- cdn -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <!-- cdn end -->

  <body>
    
    <!-- top navber -->
    <div class="topnav">
      <a class="active" href="/"
        ><img src="/public/images/godox-logo.png" alt="GODOX" class="nav-logo"
      /></a>
      <a href="/" class="home-txt">Home</a>
      <a href="/productpage" class="prodect-txt">Product</a>  
      <div class="txt-container">
        <a href="/viewuserdata"
          ><img src="/public/images/user.png" alt="USER" class="user-img"
        /></a>
        <a href="/cartdataprint">
          <img src="/public/images/cart.png" alt="CART" class="cart-img"
        /></a>
        <a href="/wishlistdata">
          <img
            src="/public/images/wishlist.png"
            alt="WISHLIST"
            class="wishlist-img"
        /></a>
      </div>
      <div class="search-container"></div>
    </div>
    <!-- top navber end  -->

    <!-- left slide navbar -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >

      <a href="/" style="text-align: center">Home</a>
      <a href="/productpage" style="text-align: center">product</a>
      <a href="/viewuserdata" style="float: left"
        ><img src="/public/images/user.png" alt="USER" class="user-img"
      /></a>
      <a href="/cartdataprint" style="float: left"
        ><img src="/public/images/cart.png" alt="CART" class="cart-img"
      /></a>
      <a href="/wishlistdata" style="float: left"
        ><img
          src="/public/images/wishlist.png"
          alt="WISHLIST"
          class="wishlist-img"
      /></a>
    </div>
    <div id="main">
      <span
        style="font-size: 30px; cursor: pointer"
        onclick="openNav()"
        class="lines"
        >&#9776;</span
      >
    </div>
    <!-- left slide navbar end -->
  </body>

  <!-- main js -->
  <script src="/public/javascript/user.js"></script>
  <!-- main js end -->
  <!-- bootstrap link -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"
  ></script>
  <!-- bootstrap link end -->
</html>
