










<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  
<form>
    <label for="item">Choose an item:</label>
    <select id="item" name="item" onchange="updateInputField()">
      <option value="">Select an option</option>

      <%address.addresses.forEach(function(items){%>
        
        <option value="<%= items %>"><%= items.name %></option>
      <%})%>
      
    </select>
    <!-- Input field to display the name of the selected item -->
<input type="text" id="name-input">
<!-- Input field to display the description of the selected item -->
<input type="text" id="description-input">

  </form>
<script>





function updateInputField() {
  // Get the selected value of the dropdown
  const itemValue = document.getElementById('item').value;
  let a= itemValue.address
  
  console.log(`Selected item value: ${a}`);
  // Find the item object in the items array that matches the selected value
  // const selectedItem = items.find(item => item.value === itemValue);
  // Update the input fields with the name and description of the selected item
  document.getElementById('name-input').value = selectedItem.name;
  document.getElementById('description-input').value = selectedItem.description;
}


</script>  


</body>
</html>