<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/public/fonts//material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/public/stylesheet/adminlogin.css">
</head>
<body>


<div class="container-fluid">
    

<div class="containe">
    <section class="sign-in">
        <div class="container box-fom" >
            <div class="signin-content " style="    margin: auto; text-align: center; display: flex; justify-content: center;">
              

                <div class="signin-form">
                    <h2 class="form-title">ENTER YOUR EMAIL</h2>
                    <!-- <div class="w-100"> -->
                        <!-- <h3 class="mb-4">Sign Up</h3> -->
                        <!-- <p style="color:red ;"><%=locals.error%></p>
                        <p style="color:green ;"><%=locals.succ%></p>
                    </div> -->
                    <form action="/forgotemail" method="POST" class="register-form" >   
                     
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="your_name" placeholder="Email"required>
                        </div>
                      
                        <!-- <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="cmpasword" id="your_pass" placeholder="Confirm Password" required>
                        </div> -->
                       
                        <div class="form-group form-button">
                            <input type="submit" value="Send otp" class="form-submit" >
                        </div>
                    </form>
                   

                   
                </div>
            </div>
        </div>
    </section>

</div>
</div>

</body>
</html>  

