<!DOCTYPE html>
<html lang="en">
<head>
  <title>Godox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
.image-box {
    position: relative;
    /* margin: auto; */
    overflow: hidden;
    width: 100%;
}
.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    
}
 
.image-box:hover img {
    transform: scale(1.1);
}
    </style>
</head>
<body style="margin: 0; padding: 0;">
  <%- include('../partials/user-header')%>
 
<div class="container-fluid" style="margin: 0; padding: 0; background-color: #242424;" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
<%if(banner != null){%>
    <div class="carousel-inner " style="width:100%;">

    <div class="item active ">
      <img src="/public/databaseimg/<%=banner[0].image %>" alt="Los Angeles" style="width:100%;">
    </div>
    <% for(let i=1; i< banner.length; i++) {%>
      <div class="item  ">
        <img src="/public/databaseimg/<%=banner[i].image %>" alt="Los Angeles" style="width:100%;">
      </div>
      
      <%}%>
  </div>
  <%}%>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" hidden>
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control"href="#myCarousel" data-slide="next" hidden>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 <div class="container-fluid ">
    <div class="row ">
        <div class="col-md-6 p-0 pe-0 ">
          <div class="image-box" >
             <a href="/productpage?category=Flash"><img src="/public/images/category/flash.jpg" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
        <div class="col-md-6  p-0 ps-0 ">
          <div class="image-box" >
            <a href="/productpage?category=Continuous%20Light"><img src="/public/images/category/clight.png" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 p-0 pe-0 ">
          <div class="image-box" >
            <a href="/productpage?category=Audio"><img src="/public/images/category/audi.png" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
        <div class="col-md-6  p-0 ps-0 ">
          <div class="image-box" >
            <a href="/productpage?category=Monitor"><img src="/public/images/category/moniter.png" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 p-0 pe-0 ">
          <div class="image-box" >
            <a href="/productpage?category=Light%20Shaper"><img src="/public/images/category/lights.png" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
        <div class="col-md-6  p-0 ps-0 ">
          <div class="image-box" >
            <a href="/productpage?category=Accessories"><img src="/public/images/category/accessories.jpg" alt="Unsplashed Random"  height="548" /></a> 
            </div>
        </div>
      </div>
 </div>
<div class="container-fluid">
    <div class="row  ">
        <video audio muted loop autoplay width="90%" height="5%" class="p-0 pe-0">
            <source src="/public/images/video/vid.mp4" type="video/mp4">
            <source src="/public/images/video/vid.ogg" type="video/ogg">
          </video>
    </div>
</div>
</div>
<%- include('../partials/user-footer')%>
</body>
</html>




















