<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/public/fonts//material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/public/stylesheet/adminlogin.css">
</head>
<body>


<div class="containe">
    
    <section class="sign-in">
        
        <div class="container box-fom" >
            <div class="signin-content " style="    margin-right: 20px;">

                



                <div class="signin-image login-img">
                    <figure><img src="/public/images/userlogin.png" alt="sing up image"></figure>
                    <!-- <a href="#" class="signup-image-link">Create an account</a> -->
                </div>
               
                <div class="signin-form">
                    <h2 class="form-title">USER LOGIN</h2>
                    <form action="/userlogin" method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="your_name" placeholder="Email" required/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_pass" placeholder="password" required/>
                        </div>
                        <!-- <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div> -->
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                    <!-- <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div> -->
                    <div class="w-100">
                        <!-- <h3 class="mb-4">Sign Up</h3> -->
                   <a href="/usersignup" style="text-decoration: none; padding-bottom: 50px; color: black;">Create an account</a>
                    </div>
                    <div class="w-100">
                        <!-- <h3 class="mb-4">Sign Up</h3> -->
                   <a href=" /forgotemail" style="text-decoration: none; padding-bottom: 50px; color: black;">Forgot password</a>
                    </div>
                   
                    <div class="w-100">
                        <p style="color:red ;"><%=locals.wrong%></p>
                        
                      </div>
                </div>
                
            </div>
           
        </div>
       
    </section>
   

</div>


</body>
</html>  
